body {
    height: 2500px;
}
#calculator{
    height: 600px;
    margin-left: 400px;
    margin-top: 100px;
    
    box-shadow: 20px 20px 20px 20px #d5d2ce;
}
form input{
    width: 100%;
    height: 80px;
    
    padding: 5px;
    border: none;
    background-color: blanchedalmond;
    text-align: right;
}
button{
    height: 54px;
    width: 54px;
}
.btn{
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-top: 5px;
   
}

div#calculator {
    background-color: white;
}
.full_body {
    margin-top: 40px;
}
input#screen {
    border-radius: -56px;
    margin-left: 12px;
    width: 266px;
    border-block-style: none;
    background-color: whitesmoke;
    height: 116px;
    border-radius: 10px;
}
button.btn {
    background-color: whitesmoke;
}
button.outline {
    background-color: black;
    color: white;
    box-shadow: 20px 20px 30px white;
}
label#small_screen {
    background-color: whitesmoke;
    height: 17px;
    width: 78px;
    border-radius: 10px;
    margin-left: 9px;
    text-align: center;
}
label#small_scren {
    background-color: whitesmoke;
    height: 17px;
    width: 78px;
    border-radius: 10px;
    margin-left: 8px;
    margin-top: -63px;
    margin-bottom: 13px;
    
    text-align: center;
}
label#small_screen {
    background-color: #ebe0d3;
    text-align: center;
    height: 21px;
    font-size: smaller;
    color: #403c3c;
}
label#small_scren {
    background-color: #ebe0d3;
    text-align: center;
    height: 21px;
    font-size: smaller;
    color: #403c3c;
}